# OpenHAB InfluxDB Persistence Service
# InfluxDB 2.x configuration
version=V2
url=http://influxdb:8086
token=openhab-influx-token-change-me
db=openhab
retentionPolicy=openhab
# Batch writes optimization
addCategoryTag=true
addTypeTag=true
