# InfluxDB 2.x - use env from container or override here
# url, token, org, bucket are set in container env; this file can override.
version=V2
url=http://influxdb:8086
token=change-me-influxdb-token
org=openhab
bucket=openhab
